# Application environment configuration -> example, rename to .env and modify as needed
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
ALLOWED_ORIGINS=http://localhost:4200,http://example.com

# 10MB = 10485760 bytes
# Max size per file upload (in bytes)
SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=10485760

# Max total request size (in bytes)
SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=10485760

# Database configuration  - I'm adding this here to change later or remove if not really used
DATABASE_URL=jdbc:mysql://localhost:3306/mydb
DATABASE_USERNAME=root
DATABASE_PASSWORD=secret
JWT_SECRET=mysecretkey
LOG_LEVEL=INFO